* {
        box-sizing: border-box;
        
      }
      
      .column1 {
        float: left;
        width: 15%;
        padding: 0;
        padding-top:25px;
        padding-left: 30px;
        height:auto;


        
      }
      
      .column2 {
        float: left;
        width: 60%;
        padding: 0px;
        padding-top: 20px;

      }
      .column3 {
        float: left;
        width: 33.33%;
        padding: 0px;
        padding-top:15px;
      }

      /* Clearfix (clear floats) */
      .row::after {
        content: "";
        clear: both;
        display: table;
      }
      .row{
        /* background-color: rgb(200, 183, 183); */
        background:linear-gradient(rgba(186, 183, 183, 0.5),#92bcb8)
        
      }

      .row,.column1,.column2,.column3{
        align-content: center;
        position: fl;
      }
      