#row{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap; 
  background-color: rgb(184, 180, 180);
}
 
#row .colum1{
  padding-top: 30px;
}

@media screen and (max-width:770px){
  #row{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: inherit;
  }

  #row .colum1 img {
    max-width: 100px;
    max-height: 200px;
    padding-bottom: 20px;
    
  }

  #row .colum2 img {
    max-width: 45px;
    max-height: 100px;
    padding-top: 15px;
  }

  #row .colum3 img {
    max-width: 100px;
    max-height: 100px;
    padding-top: 15px;
  }
}
